<div class="enroll-login-container">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <h2 class="text-center">填写报名信息</h2>
    <div class="jumbotron">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-4 control-label">报名号</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" data-ng-model="signUpEdit.registerCode">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">姓名</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" data-ng-model="signUpEdit.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">性别</label>
                <div class="col-sm-6">
                    <select class="form-control" data-ng-model="sex">
                        <option value="">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">手机号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" data-ng-model="signUpEdit.phone_number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">邮箱</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" data-ng-model="signUpEdit.email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">身份证号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" data-ng-model="signUpEdit.national_identify_id">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">高考号／艺术号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" data-ng-model="identifyId">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">其他：（体育项目，艺术作品名称）</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" data-ng-model="identifyId">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 col-sm-offset-4 label label-danger">请注意：报名信息确认后将不能修改，请仔细核对</label>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-4">
                    <a class="btn btn-material-light-blue-800 btn-inverse" data-ng-click="createReg" href="#/profile/info">提交</a>
                </div>
            </div>
        </form>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
