<link rel="stylesheet" href="../stylesheets/3rd/style.css">
<style>
    #nav{
        display: none;
    }
</style>
<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->
              <div class="widget-head">
                <i class="icon-lock"></i>管理员登陆
              </div>
              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                  <form class="form-horizontal">
                    <!-- Email -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputEmail">邮箱</label>
                      <div class="col-lg-9">
                        <input type="text" class="form-control" id="inputEmail" placeholder="邮箱" data-ng-model="account">
                      </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputPassword">密码</label>
                      <div class="col-lg-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="密码" data-ng-model="password">
                      </div>
                    </div>
                    <!-- Remember me checkbox and sign in button -->
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-2">
                            <button type="submit" class="btn btn-danger" data-ng-click="adminSignIn()">登陆</button>
                            <button type="reset" class="btn btn-default">取消</button>
                        </div>
					</div>
                    <br />
                  </form>
				  
				</div>
                </div>
            </div>  
      </div>
    </div>
  </div> 
</div>

