<footer>
    <div class="well-material-blue-grey-050">
        <div class="container">
            <div class="col-lg-8">
                <h5><a href="http;//www.ecnu.edu.cn">华东师范大学</a></h5>
                <p>闵行校区：东川路500号 200241&nbsp;&nbsp;中山北路校区：中山北路3663号 200062</p>
                <p>总机：86-21-62233333&nbsp;&nbsp;沪ICP备05003394</p>
            </div>
            <div class="col-lg-4">
                <h5>技术支持：<a href="http://www.eoffice.ecnu.edu.cn">华东师范大学信息化办公室</a></h5>
            </div>
        </div>
    </div>
</footer>