.enroll-login-container {
  background: url('../../images/bg-login.png') center bottom no-repeat;
  width: 100%;
  height: 480px;
  margin-top: 10%;
}
.login-left-panel{
  background: url('../../images/ecnu.jpg') center  no-repeat;
  background-size: cover;
  height: 300px;
  opacity: 0.75;
}