<link rel="stylesheet" href="../stylesheets/3rd/style.css">
<style>
    #nav{
        display: none;
    }
</style>
<!-- Header starts -->
<header>

</header>

<!-- Header ends -->

<!-- Main content starts -->

<div class="content">

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-dropdown"><a href="#">导航</a></div>

        <!--- Sidebar navigation -->
        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
        <ul id="nav">
            <li class="has_sub">
                <a  class="open"><i class="icon-home"></i>基本设置</a>
                <ul>
                    <li><a href="#/admin/basic/category">报考类型设置</a></li>
                    <li><a href="#/admin/basic/subclass">小类设置</a></li>
                    <li><a href="#/admin/basic/subject">科目设置</a></li>
                    <li><a href="#/admin/basic/system">系统设置</a></li>
                    <li><a href="#/admin/basic/statement">编辑高考说明</a></li>
                </ul>
            </li>
            <li class="has_sub">
                <a  class="open"><i class="icon-home"></i>报名号管理</a>
                <ul>
                    <li><a href="#/admin/registration/createReg">生成报名号</a></li>
                    <li><a href="#/admin/registration/assignReg">分配考点</a></li>
                    <li><a href="#/admin/registration/queryReg">报名号查询</a></li>
                    <li><a href="#/admin/registration/modifyReg">报名号批量修改</a></li>
                    <li><a href="#/admin/registration/exportExcel">导出excel</a></li>
                    <li><a href="#/admin/registration/importExcel">报名号录入</a></li>
                </ul>
            </li>
            <li class="has_sub">
                <a class="open"><i class="icon-home"></i>考生管理</a>
                <ul>
                    <li><a href="#/admin/examinee/operateExa">查看管理考生</a></li>
                    <li><a href="#/admin/examinee/queryExa">考生兼报查询</a></li>
                </ul>
            </li>
            <li class="has_sub">
                <a  class="open"><i class="icon-home"></i>考点设置和分配</a>
                <ul>
                    <li><a href="#/admin/site/siteSetting">考点设置</a></li>
                    <li><a href="#/admin/site/roomSetting">教室设置</a></li>
                    <li ><a href="#/admin/site/assignSite">考场分配</a></li>
                </ul>
            </li>
            <li class="has_sub">
                <a  class="open"><i class="icon-home"></i>成绩导入与管理</a>
                <ul>
                    <li class="has_sub">
                        <a href="#/admin/score/importScore">成绩导入</a>
                    </li>
                    <li class="">
                        <a href="#/admin/score/queryScore">成绩查询</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Sidebar ends -->

    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left"><i class="icon-file-alt"></i>报考类型设置</h2>

            <!-- Breadcrumb -->
            <div class="bread-crumb pull-right">
                <a href="../../index.html"><i class="icon-home"></i> 基本设置</a>
                <!-- Divider -->

        </div>
        <!-- Page heading ends -->


        <!-- Matter -->

        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="widget">
                            <div class="widget-head">
                                <div class="pull-left"><h2>报考类型</h2></div>
                                <div class="widget-icons pull-right">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal">
                                        <i class="icon-plus"></i>
                                    </button>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content medias" style="display: block;">

                                <table class="table table-striped table-bordered table-hover" data-ng-controller="CategoryTableCtrl">
                                    <thead>
                                    <tr>

                                        <th>类型名称</th>
                                        <th>允许注册</th>
                                        <th>开始时间</th>
                                        <th>截止时间</th>
                                        <th>下载准考证</th>
                                        <th>查看成绩</th>
                                        <th>查看考场</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="category in categories">

                                        <td>{{category.name}}</td>
                                        <td>
                                            <div class="make-switch switch-mini" data-on="primary" data-off="info">
                                                <input type="checkbox" checked>
                                            </div>
                                        </td>
                                        <td style="width: 20%;">
                                            <input style="width: 120px; float: left" type="text" class="col-sm-8 form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn col-sm-4">
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </td>
                                        <td style="width: 16%">{{category.end_register_time}}</td>
                                        <td>
                                            <div class="make-switch switch-mini" data-on="primary" data-off="info">
                                                <input type="checkbox" checked>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="make-switch switch-mini" data-on="primary" data-off="info">
                                                <input type="checkbox" checked>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="make-switch switch-mini" data-on="primary" data-off="info">
                                                <input type="checkbox" checked>
                                            </div>
                                        </td>

                                        <td>
                                            <button class="btn btn-xs btn-info" data-ng-click="createCategory()"><i class="icon-ok"></i></button>
                                            <button class="btn btn-xs btn-danger" data-ng-click="deleteCategory()"><i class="icon-remove"></i> </button>
                                        </td>
                                    </tr>

                                    <tr>

                                        <td>免费师范生</td>
                                        <td>
                                            <div class="make-switch switch-mini" data-on="primary" data-off="info">
                                                <input type="checkbox" checked>
                                            </div>
                                        </td>
                                        <td ><input type="date" ></td>
                                        <td ><input type="date" ></td>
                                        <td>
                                            <div class="make-switch switch-mini" data-on="primary" data-off="info">
                                                <input type="checkbox" checked>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="make-switch switch-mini" data-on="primary" data-off="info">
                                            <input type="checkbox" checked>
                                        </div>
                                        </td>
                                        <td>
                                            <div class="make-switch switch-mini" data-on="primary" data-off="info">
                                                <input type="checkbox" checked>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-xs btn-info" data-ng-click="createCategory()"><i class="icon-ok"></i></button>
                                            <button class="btn btn-xs btn-danger" data-ng-click="deleteCategory()"><i class="icon-remove"></i> </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="widget-foot">



                                    <ul class="pagination pull-right">
                                        <li><a href="#">Prev</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>

                                    <div class="clearfix"></div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

</div>
<!-- Content ends -->



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1"style="margin-top:200px" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel"><p>新建报考类型</p></h3>
                </div>
                <div class="modal-body">
                  <h4>类型名称</h4> <input size="20">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">新建</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                </div>
            </div>
        </div>
    </div>

<!-- Footer starts -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Copyright info -->
                <p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> </p>
            </div>
        </div>
    </div>
</footer>

<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

