<div class="enroll-login-container">
  <div class="col-lg-4"></div>
  <div class="col-lg-4" ng-controller="ConfirmCtrl">
    <div class="jumbotron">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label">姓名</label>
          <div class="col-sm-6">
            <label class="control-label" data-ng-model="confirm.name">test</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">性别</label>
          <div class="col-sm-6">
            <label class="control-label" data-ng-model="confirm.sex">男</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">手机号</label>
          <div class="col-sm-6">
            <label class="control-label" data-ng-model="phone_number">13761575801</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">邮箱</label>
          <div class="col-sm-6">
            <label class="control-label" data-ng-model="email">1137546206@qq.com</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">生源地</label>
          <div class="col-sm-6">
            <label class="control-label" data-ng-model="province">江苏</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">身份证号</label>
          <div class="col-sm-6">
            <label class="control-label" data-ng-model="national_identify_id">321284199312243226</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">毕业学校</label>
          <div class="col-sm-6">
            <label class="control-label" data-ng-model="schoole">姜堰二中</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <a class="btn btn-material-light-blue-800 btn-sm" href="#/register">修改</a>
            <a ng-click="register_confirm()" class="btn btn-warning btn-sm">确认</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
